.details-photo { 
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 10px 10px; 
}

.details-photos-section {
  width: 47%;
  margin: 5px;
  display: inline-block; 
}

.details-description {
  width: 50%;
  vertical-align: top;
  text-align: justify;
  margin: 10px 10px 10px 10px;
  display: inline-block;
}

@media (min-width: 100px) and (max-width: 1031px) {
  .details-photos-section {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
  }
  .details-description {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
  }   
}

.details-header {
  color: #1d5fdb;
  text-align: center;
  font-size: 35px;
  border-radius: 2px;
  padding: 5px 5px 0 5px;
  margin: 5px;
}

.landmarks-heading {
  margin: 10px;
}

